.form-container {
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 1px 236px 191px 236px;
  border: 5px solid black;
}

.back-arrow {
  width: 71px;
  padding: 8px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  cursor: pointer;
}

.form-header h1 {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.56px;
  display: flex;
  justify-content: center;
  width: 195.943px;
  height: 45.768px;
  width: auto;
}

.form-header p {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 380px;
  gap: 12px;
  display: flex;
  width: 195.943px;
  height: 45.768px;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.question-labels {
  color: #000;
}

.home-type {
  display: inline-block;
  margin-right: 10px;
}

.home-def {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.special-req {
  display: flex;
  width: 931px;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  display: none;
}

/* Style the container of the toggle switch */
#toggle-container {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Style the toggle switch */
.toggle-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
}

/* Style the toggle switch's handle */
.toggle-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Move the handle to the right when the checkbox is checked */
.toggle-container:checked + #toggle-container .toggle-switch {
  background-color: #14b8a6;
}

.special-req:checked + #toggle-container .toggle-handle {
  transform: translateX(20px);
}

.form-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 14px 20px;
  align-items: center;
  margin: 35px auto;
  display: block;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #14b8a6;
  background: #14b8a6;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}
